body {
    margin: 0;
    padding: 0;
}

.driver-name-container {
    background-color: rgb(2, 190, 9);
    margin: 0;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.driver-card {
    font-size: 1.7rem;
    text-align: center;
    background-color: rgb(0, 128, 0);
    margin: 10px 0;
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    max-width: 350px;
    border-radius: 5px;
    border: none;
}

.qualifying-input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.qualifying-input-container p {
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    font-weight: 100;
}
.qualifying-input-container input {
    width: 50%;
    max-width: 150px;
    height: 30px;
    border-radius: 5px;
    border: none;
    text-align: center;
}